Node-Red flow/flows.json
[
    {
        "id": "220c2b9.7011ad4",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c074f185.5f021",
        "type": "ui_form",
        "z": "220c2b9.7011ad4",
        "name": "",
        "label": "",
        "group": "58c3ba04.e23344",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter your input",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "cc6b20a3.e75fc"
            ]
        ]
    },
    {
        "id": "cc6b20a3.e75fc",
        "type": "function",
        "z": "220c2b9.7011ad4",
        "name": "",
        "func": "msg.payload=msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "ed3a5b7c.eb74d8",
                "bf590b69.4f6bf8"
            ]
        ]
    },
    {
        "id": "999d0042.a0ad8",
        "type": "function",
        "z": "220c2b9.7011ad4",
        "name": "",
        "func": "msg.payload=msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "f58527ac.d8e8e8"
            ]
        ]
    },
    {
        "id": "ed3a5b7c.eb74d8",
        "type": "watson-conversation-v1",
        "z": "220c2b9.7011ad4",
        "name": "Customer Help Desk",
        "workspaceid": "44fea49a-06c3-4170-b16d-ea4c70e63e7d",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b16bbb25-2417-4850-91ba-b5e99089688b",
        "timeout": "",
        "optout-learning": false,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "79ff4413.49a6bc",
                "999d0042.a0ad8"
            ]
        ]
    },
    {
        "id": "bf590b69.4f6bf8",
        "type": "ui_text",
        "z": "220c2b9.7011ad4",
        "group": "58c3ba04.e23344",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 360,
        "y": 360,
        "wires": []
    },
    {
        "id": "79ff4413.49a6bc",
        "type": "debug",
        "z": "220c2b9.7011ad4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "f58527ac.d8e8e8",
        "type": "ui_text",
        "z": "220c2b9.7011ad4",
        "group": "58c3ba04.e23344",
        "order": 3,
        "width": 11,
        "height": 5,
        "name": "",
        "label": "Bot",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "58c3ba04.e23344",
        "type": "ui_group",
        "z": "",
        "name": "ChatBot",
        "tab": "cab09e34.0ed41",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": false
    },
    {
        "id": "cab09e34.0ed41",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Helpdesk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
